
// -------------------------
// HOME
// -------------------------

body{
  font-family: $primary-Bk;
  font-size: 16px;
  text-decoration: none;
  color: #5a5a5a;
  background-color: #f4f3f3;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,h2,h3,h4,h5{
  font-family: $primary-BdI;
  font-size: 16px;
}
h1{
  font-size: 38px;
  color: $tertiary;
  font-family: $primary-BdI;
}
p {
  line-height: 1.4;
  font-size: 16px;
  color: $tertiary;
  margin: 0;
  font-family: $primary-BkI;
}
ul, ol{
  padding: 0;
}
a{
  text-decoration: none;
  &:focus{
    color: #404040;
  }
  &:hover{
    color: $primary;
  }
}
#page-content-wrapper{
  position: relative;
  display: none;
}
footer{
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}

@media (min-width: 768px) {
}

// HOME CONSTRUCTION

.main-banner{
  &.banner-00{
    height: 300px;
    background: url(../images/home-bcg--01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    @include background-size(cover);
  }
}

.banner-container {
  position: absolute;
  top: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @include transform(translate(0%, -100%));
  .banner-txt {
    color: #fff;
    .banner-title {
      font-family: "GothamBl";
      width: 80%;
      font-size: 20px;
      line-height: 1.5;
      text-transform: uppercase;
    }
    .hr-main-title {
      width: 40px;
      border: 0;
      margin-top: 21px;
      margin-bottom: 18px;
      border-top: 2px solid #fff;
    }
  }
}

.social-block {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  a{
    margin-left: 40px;
    color: #fff;
    i{
      font-size: 1.5em;
    }
    &:hover{
      color: $primary;
    }
    &:nth-child(1){
      margin-left: 0;
    }
  }
}

.products-container{
  text-align: center;
  .img-container{
    img{
      border-radius: 50%;
    }
  }
}

.height-calc{width: 100%;};

// HOME RESPONSIVE
//////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 768px) {
  .main-banner{
    &.banner-00{
      height: 600px;
    }
  }
  .banner-container {
    padding: 15px 0px;
    .banner-txt {
      padding: 15px 0px;
      .banner-title {
        width: 60%;
        font-size: 40px;
        line-height: 1.5;
      }
    }
  }  
  .social-block {
    margin-top: 80px;
    a{
      margin-left: 40px;
    }
  }
}



// SECCION CONSTRUCTION

// SECCION RESPONSIVE
//////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 768px) {

}




